<html>
<body style="font-family: Arial, sans-serif; background-color: #f8f8f8; padding: 20px;">
    <div style="max-width: 600px; margin: 0 auto; background-color: white; border: 1px solid #ccc; padding: 20px; text-align: center;">
<!--        <img src="../static/site/img/header_logo.svg" alt="Company Logo" style="max-width: 100px;">-->
        <h1>Здравствуйте!</h1>
        <p>Ваш пароль для входа:</p>
        <h2>{{ password }}</h2>
        <a href="{{ login_url }}" style="background-color: #68b431; color: white; padding: 10px 20px; text-decoration: none; font-weight: bold;">Войти в систему</a>
        <p>Если вы не запрашивали пароль, пожалуйста, свяжитесь с нами.</p>
        <p>&copy; {{ year }} - Кейсистемс-Якутия</p>
    </div>
</body>
</html>