<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Кураторская часть</h1>

    <a href="logout">
        <p>Выйти</p>
    </a>

<div class="modal1_img modal-close">
    <img src="${link}" alt="">
</div>

    <ul class="tabs">
        <li class="tab"><a href="#tab1">Описание</a></li>
        <li class="tab">
            <a href="#tab2">
                <p>Комментарии</p>
            </a>
        </li>
        <li class="tab">
            <a href="#tab3">Чат кураторов</a>
        </li>
    </ul>

    <div id="tab1" class="tab-content active">
        <h6 class="title_in_modal">Тема</h6>
        <p class="text_in_modal">${data.topic.topic}</p>
        <form action="" method="post">
            <p>
                <label for="soft_in_chat">Програмное обеспечение</label>
                <select name="soft_in_chat" id="soft_in_chat">
                </select>
            </p>
        </form>
        <h6 class="title_in_modal">Описание</h6>
        <p class="text_in_modal">${data.text}</p>
        <div class="files_in_modal"></div>
        <h6 class="title_in_modal">Исполнители</h6>
        <div class="curators_of_request"></div>

        <!-- скопировать кнопку в js -->
        <button class="update_file_btn">
            <a href="" download="">
                <div class="update_file_item">
                    <div class="update_file_img">
                        <!-- добавить переменную -->
                        <img src="" alt="">
                    </div>
                    <div class="update_file_center">
                        <!-- добавить 2 переменную -->
                        <p class="update_file_name"></p>
                        <p class="update_file_size"></p>
                    </div>
                    <div class="update_file_dnl">
                        <img src="${fileDnl}" alt="">
                    </div>
                </div>
            </a>
        </button>

    </div>

    <div id="tab2" class="tab-content">
        <p>Customer Name: ${data.customer_name}</p>
        <p>Address: ${data.customer_address}</p>
    </div>

    <div id="tab3" class="tab-content">
        <p>Status: ${data.status}</p>
    </div>

</body>
</html>